
<!-- Footer Start -->
<footer class="text-light pt-5 pb-3" style="background-color:#111827;">
  <div class="container">
   <div class="row text-center text-md-start">

  <!-- Logo & Description -->
  <div class="col-md-4 mb-4">
    <h4 class="fw-bold" style="color:#f26a5d; font-family:'Georgia', serif;">HomeBite</h4>
    <p class="mt-3">
      Because every homemade meal <br>
      brings warmth, flavor, and <br>
      authenticity.
    </p>
    <!-- Social Icons -->
    <div class="d-flex justify-content-center justify-content-md-start gap-3 mt-3">
      <img class="floating-img" src="/img/Linkedin.svg" alt="">
      <img class="floating-img" src="/img/x.svg" alt="">
      <img class="floating-img" src="/img/Instagram.svg" alt="">
    </div>
  </div>

  <!-- For Guests -->
  <div class="col-md-2 mb-4 me-md-4">
    <h6 class="fw-bold">For Guests</h6>
    <ul class="list-unstyled mt-3">
      <li><a href="#" class="text-light text-decoration-none">Browse Meals</a></li>
      <li><a href="#" class="text-light text-decoration-none">How to Order</a></li>
      <li><a href="#" class="text-light text-decoration-none">Safety Standards</a></li>
      <li><a href="#" class="text-light text-decoration-none">Customer Support</a></li>
    </ul>
  </div>

  <!-- For Hosts -->
  <div class="col-md-2 mb-4 me-md-4">
    <h6 class="fw-bold">For Hosts</h6>
    <ul class="list-unstyled mt-3">
      <li><a href="#" class="text-light text-decoration-none">Become a Host</a></li>
      <li><a href="#" class="text-light text-decoration-none">Host Guidelines</a></li>
    </ul>
  </div>

  <!-- Company -->
  <div class="col-md-2 mb-4">
    <h6 class="fw-bold">Company</h6>
    <ul class="list-unstyled mt-3">
      <li><a href="#" class="text-light text-decoration-none">About Us</a></li>
      <li><a href="#" class="text-light text-decoration-none">Contact</a></li>
      <li><a href="#" class="text-light text-decoration-none">Privacy Policy</a></li>
    </ul>
  </div>

</div>


    <!-- Copyright -->
    <div class="text-center mt-4">
      <p class="mb-0 small">© 2025 HomeBite. All rights reserved.</p>
    </div>
  </div>
</footer>
<!-- Footer End -->
